@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
